assets/ico/edit1.png filter=lfs diff=lfs merge=lfs -text
assets/ico/mail.png filter=lfs diff=lfs merge=lfs -text
assets/ico/open.png filter=lfs diff=lfs merge=lfs -text
assets/ico/send.png filter=lfs diff=lfs merge=lfs -text
assets/ico/document.png filter=lfs diff=lfs merge=lfs -text
assets/ico/file.png filter=lfs diff=lfs merge=lfs -text
assets/ico/list3.png filter=lfs diff=lfs merge=lfs -text
assets/ico/list.png filter=lfs diff=lfs merge=lfs -text
assets/ico/revision.png filter=lfs diff=lfs merge=lfs -text
assets/ico/setting1.png filter=lfs diff=lfs merge=lfs -text
assets/ico/v4.png filter=lfs diff=lfs merge=lfs -text
assets/ico/enter.png filter=lfs diff=lfs merge=lfs -text
assets/ico/update3.png filter=lfs diff=lfs merge=lfs -text
assets/ico/error.png filter=lfs diff=lfs merge=lfs -text
assets/ico/info.png filter=lfs diff=lfs merge=lfs -text
assets/ico/save.png filter=lfs diff=lfs merge=lfs -text
assets/ico/usb1.png filter=lfs diff=lfs merge=lfs -text
assets/ico/wheel1.png filter=lfs diff=lfs merge=lfs -text
assets/ico/v.png filter=lfs diff=lfs merge=lfs -text
assets/ico/code.png filter=lfs diff=lfs merge=lfs -text
assets/ico/debug.png filter=lfs diff=lfs merge=lfs -text
assets/ico/edit3.png filter=lfs diff=lfs merge=lfs -text
assets/ico/edit4png.png filter=lfs diff=lfs merge=lfs -text
assets/ico/exit.png filter=lfs diff=lfs merge=lfs -text
assets/ico/pin.png filter=lfs diff=lfs merge=lfs -text
assets/ico/unpin.png filter=lfs diff=lfs merge=lfs -text
assets/ico/warn.png filter=lfs diff=lfs merge=lfs -text
